* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #110;
  color: #fff;
}

form,
#weather {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 50px auto;
  text-align: center;
}
#weather {
  max-width: 500px;
}

input[type="text"] {
  display: block;
  width: 100%;
  background: transparent;
  color: #fff;
  border: none;
  border-bottom: 2px solid #888;
  outline: none;
  font-size: 1.2rem;
  padding: 5px 0;
}

input[type="text"]:focus {
  border-color: #ff521f;
}

ul {
  list-style: none;
  text-align: left;
}

ul li {
  background-color: #333;
  margin-top: 2px;
  padding: 10px;
  cursor: pointer;
}

ul li span {
  color: #777;
}

#degrees {
  font-size: 3rem;
}
#city {
  color: #ff521f;
  font-size: 2.5rem;
  margin-top: 15px;
  margin-bottom: 15px;
}

#btn-change {
  border: 2px solid #888;
  background-color: transparent;
  font-size: 1.2rem;
  color: #fff;
  padding: 6px 12px;
  border-radius: 20px;
  margin-bottom: 35px;
}

.weather-info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  outline: 1px solid #fff;
  padding: 25px;
  border-radius: 5px;
  text-align: center;
  gap: 25px;
}

.weather-info-title {
  text-transform: uppercase;
  margin-bottom: 15px;
  letter-spacing: 2.5px;
}

.weather-info-span {
  color: #888;
  font-size: 0.8rem;
}

.value {
  font-size: 1.2rem;
}

.info-title {
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: 30px;
  letter-spacing: 8px;
}

.info-description {
  padding: 15px;
  font-size: 0.8rem;
}
