* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #333;
  line-height: 1.5;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: linear-gradient(to top left, #28b487, #7dd56f);
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

p {
  font-size: 1.8rem;
  padding: 0.5rem;
  margin-bottom: 2.5rem;
  text-align: justify;
}

li {
  font-size: 1.2rem;
  margin-bottom: 1.1rem;
}

li:last-child {
  margin-bottom: 0;
}
